@model PRN221_Asm02.Models.Order


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<OrderDetail> details = ViewBag.ChiTiet;
}
<h1 class="text-center">Detail Bill</h1>
<div class="container" style="margin-bottom: 20px">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>ID Product</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (details != null && details.Count() > 0)
            {
                foreach (var item in details)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.Quantity</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary"><a asp-action="Index" style="color: #fff; text-decoration: none">Back to List</a></button>
    </div>
</div>

